<!DOCTYPE html>
<html lang="ru" ng-app="calculatorApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">  
        <link rel="stylesheet" href="css/main.css">
        <script src="js/lib/jquery-3.1.1.min.js"></script>
        <script src="js/lib/jquery-ui.min.js"></script>
        <script src="js/lib/angular.js"></script>
        <script src="js/module.js"></script>
        <script src="js/service.js"></script>
        <script src="js/controler.js"></script>

        <title>Калькулятор</title>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row" ng-controller="contrCalc">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12  start_step" >
                    <h4> Шаг {{step[formData.pos].id}} из 3 {{step[formData.pos].title}}</h4> 
                </div>
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 " ng-hide="formData.start_step[formData.pos]">
                    <div class="row content" >

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >

                            <h4> Выберете серию </h4>
                            <select class="form-control" ng-model="formData.id_section" ng-change="sectionChange()">
                                <option ng-repeat="section in data" value={{section.id_series}} ng-selected="select_LS('section',{{$index}})" >            {{section.name_series}}
                                </option>

                            </select>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 purpose">
                            <h4 ng-show="formData.id_section">Назначение</h4>
                            <label ng-show='wall()'>
                                <input type='checkbox' ng-model='wall_checked'  >Стена</label>
                            <label ng-show="floor()">
                                <input type='checkbox' ng-model="floor_checked" >Пол</label>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="floor_checked || wall_checked">
                            <h4>Варианты раскладки</h4>
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 variant" ng-if="wall_checked" id="wall_radio1">
                                    <h5>Стена</h5>
                                    <label><input type='radio' name="wall"   ng-checked="select_LS('wall',1)" ng-click="wall_radio($event)" value="1">Прямоугольная</label>
                                    <label><input type='radio' name="wall"    ng-checked="select_LS('wall',0)" ng-click="wall_radio($event)" value="0">Диагональная</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 variant" ng-show="floor_checked">
                                    <h5>Пол</h5> 
                                    <label><input type='radio' name="floor"  ng-checked="select_LS('floor','1')" ng-click="floor_radio($event)" value="1">Прямоугольная</label>
                                    <label><input type='radio' name="floor" ng-checked="select_LS('floor','0')" ng-click="floor_radio($event)" value="0">Диагональная</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-red">

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seam" ng-if="floor_checked || wall_checked">
                            <h4>Ширина шва между плитками</h4>
                            <label><input type='radio' name="seam" ng-checked="select_LS('seam','1.5')" value='1.5' checked ng-click="seam($event)">1,5мм</label>
                            <label><input type='radio' name="seam" ng-checked="select_LS('seam','2')" ng-click="seam($event)" value='2'>2мм</label>
                            <label><input type='radio' name="seam" ng-checked="select_LS('seam','2.5')" ng-click="seam($event)" value='2.5'>2,5мм</label>
                            <label><input type='radio' name="seam" ng-checked="select_LS('seam','3')" ng-click="seam($event)" value='3'>3мм</label>
                            <label><input type='radio' name="seam" ng-checked="select_LS('seam','3.5')" ng-click="seam($event)"  value='3.5'>3,5мм</label>
                            <label><input type='radio' name="seam" ng-checked="select_LS('seam','4')" ng-click="seam($event)" value='4'>4мм</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="floor_checked || wall_checked">
                            <h4>Задайте размеры</h4><h5>(* учтите, что все размеры указаны в сантиметрах!)</h5>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indicator" ng-show="floor_checked">
                            <h5>Пол</h5>
                            <div class="label_slider">
                                <div><h4>Длина пола</h4></div> 
                                <div id="slider_length_floor" ng-mouseleave='valueS($event, "valLF")'> </div>
                                <div><input id="value_length_floor" value="{{formData.val_length_f}}" ng-keyup="input_keyup($event,'#value_length_floor')"> </div>

                            </div>
                            <div class="label_slider">
                                <div><h4>Ширина пола</h4></div> 
                                <div id="slider_width_floor" ng-mouseleave='valueS($event, "valWF")'></div>

                                <div><input id="value_width_floor" value="{{formData.val_width_f}}" ng-keyup="input_keyup($event,'#value_width_floor')"></div> 
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indicator" id="wall_list" ng-show="wall_checked">
                            <h5>Стена</h5>
                            <div class="label_slider">
                                <div><h4>Высота потолка</h4></div> 
                                <div id="slider_height_wall" ng-mouseleave='valueS($event, "valHW")'></div>

                                <div><input id="value_heigth_wall" value="{{formData.val_height_w}}" ng-keyup="input_keyup($event,'#value_heigth_wall')"></div> 
                            </div>
                            <div class="label_slider" >
                                <div><h4>Ширина стены №1</h4></div> 
                                <div id="slider_width_wall1" ng-mouseleave='valueS($event, "valWW1")'></div>
                                <div><input id="value_width_wall1" value="{{formData.val_width_w1}}" ng-keyup="input_keyup($event,'#value_width_wall1')"></div> 
                            </div>

                        </div>
                        <div class="col-lg-offset-6 col-sm-offset-4  col-md-offset-6 col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-show='wall_checked'>
                            <button class="btn  btn-warning btn-block" ng-click="delete_label()" ng-hide="min_count_width()">Удалить стену</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-show='wall_checked'>
                            <button class="btn  btn-primary btn-block" ng-click="add_label()" ng-hide="max_count_width()">Добавить стену</button>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6"></div>



                    </div>              
                </div>
                <div class="col-lg-offset-3 col-lg-2 col-md-6 col-sm-6 col-xs-6 dad_step" ng-hide="formData.dad_step[formData.pos]">
                    Шаг 2 dad
                    <ul>
                        {{save_data}}

                    </ul>
                </div>
                <div class="col-lg-offset-3 col-lg-2 col-md-6 col-sm-6 col-xs-6 finish_step" ng-hide="formData.finish_step[formData.pos]">
                    Шаг 3 финиш
                </div>
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <div class="col-lg-offset-3  col-md-offset-3 col-lg-2 col-md-2 col-sm-4 col-xs-12 buttons">
                    <button class="btn  btn-default btn-block" ng-click="prev_step()" ng-hide="!formData.start_step[formData.pos]">Назад</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 buttons" >
                    <button class="btn btn-danger btn-block" ng-click="destroy()">Начать заново;)</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 buttons" >
                    <button class="btn btn-success btn-block" ng-click="next_step(formData.pos)" ng-hide="!formData.finish_step[formData.pos]">Далее</button>
                </div>


            </div>
        </div>


    </body>
</html>
